/*-------------------------------------------------------
Button
-------------------------------------------------------*/

.wp-block-button {

	.has-background {
		border-color: transparent;
	}
}

/*
Style "Outline"
*/

.wp-block-button .wp-block-button__link.is-style-outline,
.wp-block-button.is-style-outline > .wp-block-button__link {

	&:not(.has-text-color):not(.has-background) {

		&:hover,
		&:focus,
		&:active {
			color: var(--wp--preset--color--base);
			background-color: var(--wp--preset--color--contrast);
		}
	}

	&.has-text-color {
		border-color: currentColor;
	}

	&.has-background {
		border-color: transparent;
	}
}
