/*-------------------------------------------------------
Button
-------------------------------------------------------*/

.wp-block-button {

	.has-background {
		border-color: transparent;
	}
}

/*
Style "Outline"
*/

.wp-block-button .wp-block-button__link.is-style-outline,
.wp-block-button.is-style-outline > .wp-block-button__link {

	&:not(.has-text-color):not(.has-background) {

		&:hover,
		&:focus,
		&:active {
			color: var(--wp--preset--color--base);
			background-color: var(--wp--preset--color--contrast);
		}
	}

	&.has-text-color {
		border-color: currentColor;
	}

	&.has-background {
		border-color: transparent;
	}
}

/*
Style "Close"
*/

.wp-block-button.is-style-close {

	> .wp-block-button__link {
		text-underline-offset: 0.25em;
		text-decoration-color: transparent;

		&::after {
			transform: rotate(0deg);
			transition: transform 0.35s ease-in-out;
		}

		&:hover,
		&:focus,
		&:active {
			text-underline-offset: 0.15em;
			text-decoration-color: currentColor;

			&::after {
				transform: rotate(180deg);
			}
		}

		&.has-background {
			padding: 0.5rem 1.25rem;
		}
	}
}

/*
Style "Next"
*/

.wp-block-button.is-style-next {

	> .wp-block-button__link {
		text-underline-offset: 0.25em;
		text-decoration-color: transparent;

		&::after {
			transform: rotate(0deg);
			transition: transform 0.35s ease-in-out;
		}

		&:hover,
		&:focus,
		&:active {
			text-underline-offset: 0.15em;
			text-decoration-color: currentColor;

			&::after {
				transform: translateX(0.25rem);
			}
		}

		&.has-background {
			padding: 0.5rem 1.25rem;
		}
	}
}
