@use "../tools/mixins";

/*-------------------------------------------------------
Navigation
-------------------------------------------------------*/

.wp-block-navigation:not(.is-custom) {

	// Item
	.wp-block-navigation-item {

		.wp-block-navigation-item__content {
			text-underline-offset: 0.25em;
			text-decoration-color: transparent;
			text-wrap: nowrap;

			&:hover,
			&:focus,
			&:active {
				text-underline-offset: 0.15em;
				text-decoration-color: currentColor;
			}
		}

		&.current-menu-item {

			> .wp-block-navigation-item__content {
				text-decoration: underline;
				text-underline-offset: 0.15em;
				text-decoration-color: currentColor;
			}
		}
	}

	// Submenu container
	.has-child {

		.wp-block-navigation__submenu-container {

			&.has-background {
				border: none;
			}

			@include mixins.media("break-large") {
				padding: calc(var(--wp--style--block-gap) / 2) 0;
			}

			.wp-block-navigation__submenu-container {
				left: 0;

				@include mixins.media("break-large") {
					left: 100%;
					top: calc(var(--wp--style--block-gap) / -2);
				}
			}

			// Submenu item
			> .wp-block-navigation-item {

				> .wp-block-navigation-item__content {
					padding: 0.375rem 1.25rem;
				}
			}

			// Submenu arrow
			.wp-block-navigation__submenu-icon {
				margin-left: 0;
				margin-right: 1.25rem;
			}
		}
	}

	// Button Menu/Close
	.wp-block-navigation__responsive-container-close,
	.wp-block-navigation__responsive-container-open {
		text-underline-offset: 0.25em;
		text-decoration-line: underline;
		text-decoration-color: transparent;

		&:hover {
			text-underline-offset: 0.15em;
			text-decoration-color: currentColor;
		}
	}
}

/*-------------------------------------------------------
Mobile menu
-------------------------------------------------------*/

.navigation-overlay:not(.is-custom) {

	.wp-block-navigation {

		// Item
		.wp-block-navigation-item__content {
			line-height: var(--wp--style--block-gap);
		}

		.wp-block-navigation__container {
			row-gap: 0.375rem;

			> .wp-block-navigation-item > .wp-block-navigation-item__content {
				font-size: var(--wp--preset--font-size--xxx-large);
				line-height: var(--wp--custom--typography--line-height--xxx-large, inherit);
				letter-spacing: var(--wp--custom--typography--letter-spacing--xxx-large, inherit);
			}
		}

		// Submenu container
		.has-child.open-always {

			.wp-block-navigation__submenu-container {
				padding-top: 0.375rem;

				.wp-block-navigation-item__content {
					padding: 0;
				}
			}

			&.wp-block-navigation-submenu,
			.wp-block-navigation__submenu-container {
				gap: 0;
			}
		}
	}
}

/*-------------------------------------------------------
Change mobile breaking point from 600px to 783px
-------------------------------------------------------*/

.wp-block-navigation__responsive-container {

	@include mixins.media("break-small") {

		&:not(.hidden-by-default) {

			&:not(.is-menu-open) {
				display: none;

				.wp-block-navigation__responsive-container-close {
					display: block;
				}
			}
		}

		// Overlay menu
		&.is-menu-open {

			// Override breakpoint-inherited submenu rules
			.wp-block-navigation__submenu-container.wp-block-navigation__submenu-container.wp-block-navigation__submenu-container.wp-block-navigation__submenu-container {
				right: auto;
				left: auto;
			}
		}
	}

	@include mixins.media("break-medium") {

		&:not(.hidden-by-default) {

			&:not(.is-menu-open) {
				display: block;

				.wp-block-navigation__responsive-container-close {
					display: none;
				}
			}
		}

		// Overlay menu
		&.is-menu-open {

			// Override breakpoint-inherited submenu rules
			.wp-block-navigation__submenu-container.wp-block-navigation__submenu-container.wp-block-navigation__submenu-container.wp-block-navigation__submenu-container {
				left: 0;
			}
		}
	}
}

/*
Button to open the menu
*/

.wp-block-navigation__responsive-container-open {

	&:not(.always-shown) {

		@include mixins.media("break-small") {
			display: flex;
		}

		@include mixins.media("break-medium") {
			display: none;
		}
	}
}
