/*-------------------------------------------------------
Table
-------------------------------------------------------*/

.wp-block-table {

	&.is-style-stripes {
		border-bottom: 1px solid var(--wp--preset--color--contrast-5);

		tbody tr:nth-child(2n+1) {
			background-color: var(--wp--preset--color--contrast-5);
		}
	}
}

/*
Add additional margin to the tabble block within post content.
*/

.wp-block-post-content {

	:not(.wp-block-post-content) + .wp-block-table:not([style*="margin-top"]) {
		margin-block-start: calc(var(--wp--style--block-gap) * 1.5);
	}

	* + .wp-block-table:not([style*="margin-bottom"]):not(:last-child) {
		margin-block-end: calc(var(--wp--style--block-gap) * 1.5);
	}
}
