@use "../tools/mixins";

/*-------------------------------------------------------
Patterns
-------------------------------------------------------*/

.section {
	position: relative;
	overflow: clip;

	+ .section {
		margin-top: 0;
	}
}
