@use "../tools/mixins";

/*-------------------------------------------------------
Section "Team" (style 1)
-------------------------------------------------------*/

.section--team-1 {

	.team__members {
		grid-template-columns: 1fr;
		row-gap: var(--wp--preset--spacing--20);

		@include mixins.media("break-mobile") {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}

		@include mixins.media("break-large") {
			grid-template-columns: repeat(4, minmax(0, 1fr));
		}

		.team__member {

			&:nth-child(5n-4) {

				@include mixins.media("break-large") {
					grid-column: 1;
				}
			}

			&:nth-child(5n-3) {

				@include mixins.media("break-large") {
					grid-column: 3;
				}
			}

			&:nth-child(5n-2) {

				@include mixins.media("break-large") {
					grid-column: 4;
				}
			}

			&:nth-child(5n-1) {

				@include mixins.media("break-large") {
					grid-column: 2;
				}
			}

			&:nth-child(5n) {

				@include mixins.media("break-large") {
					grid-column: 4;
				}
			}
		}
	}

	.wp-block-image {
		opacity: inherit;

		img {
			width: 100%;
		}
	}
}
