@use "../tools/mixins";

/*-------------------------------------------------------
Entry
-------------------------------------------------------*/

.entry {

	// Post title
	.wp-block-post-title {
		position: relative;
		left: -0.35vw;

		@include mixins.media("break-large") {
			max-width: calc(75% - var(--wp--style--block-gap));
			margin-left: 0 !important;
		}
	}

	// Entry content
	.entry-content {

		body.wp-singular:not(.uk-project-template) & {

			@include mixins.media("break-large", max) {
				margin-block-start: clamp(1.5rem, 3.75vw + 0.75rem, 4.5rem);
			}
		}
	}

	.entry-header + .entry-content:has(.project-description) {
		margin-top: 2rem;
	}

	// Entry footer
	.entry-footer:not(:has(*)) {
		display: none;
	}

	// Post navigation
	.post-nav-links {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		margin-top: var(--wp--preset--spacing--20);

		color: var(--wp--preset--color--contrast);
		font-family: var(--wp--preset--font-family--font-primary);
		font-size: var(--wp--preset--font-size--small);
		font-weight: 500;
		line-height: var(--wp--style--block-gap);
		text-align: center;

		.post-page-numbers {
			padding: 0.3125rem 0.875rem;
			min-width: 2.25rem;

			color: var(--wp--preset--color--contrast);
			text-decoration: none;
			border: 1px solid var(--wp--preset--color--contrast-4);
			border-radius: var(--wp--custom--border--radius);

			&:hover,
			&:focus,
			&:active {
				color: var(--wp--preset--color--base);
				background-color: var(--wp--preset--color--contrast);
			}

			&.current {
				color: var(--wp--preset--color--base);
				background-color: var(--wp--preset--color--contrast);
				border-color: transparent;
			}
		}
	}
}
